<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Saurav">
  <link href="/absnews/save/css/bootstrap.min.css" rel="stylesheet">
  <title>Responsive Registration Form Template</title>
</head>

<body class="bg-light">
<div class="container">
  <div class="py-5 text-center">

    <h2>Insert</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="/add" method="post"  enctype="multipart/form-data" >
        <div class="form-group">
          <label for="country">Seçin</label>
          <select class="custom-select d-block w-100" name="option" id="country" required>
            <option value="">Choose...</option>
            <option value="tedbir">Tədbir</option>
            <option value="trainer">Trainer</option>
            <option value="sportsmen">İdmançı</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid country.
          </div>
        </div>
        <div class="form-group">
          <label >Name</label>
          <input type="text" class="form-control" id="firstName" name="name"  required>
        </div>

        <div class="form-group"  th:if="${deger}">
          <label >Surname</label>
          <input type="text" class="form-control" id="surName" name="surName"   >
        </div>
        <div class="form-group" th:if="${deger}">
          <label >FatherName</label>
          <input type="text" class="form-control" id="father" name="fatherName" >
        </div>
        <div class="form-group">
          <label >Tarix</label>
          <input type="date" class="form-control" id="date" name="date"  required>
        </div>
        <div class="form-group">
          <label >Haqqında</label>
          <textarea class="form-control" id="exampleFormControlTextarea1"  name="detailedİnformation" rows="10"></textarea>
        </div>
        <div class="form-group" th:if="${deger}">
          <input type="radio" id="html" name="cinsi" value="Kisi"><label for="html">Kişi</label><br>
          <input type="radio" id="css" name="cinsi" value="Qadin"> <label for="css">Qadın</label><br>
        </div>
<!--        <div class="form-group">-->
<!--          <label class="label">Sekil elave Et</label>-->
<!--          <label>-->
<!--            <input class="input&#45;&#45;style-4" type="file" name="image">-->
<!--          </label>-->
<!--        </div>-->
        <div class="form-group">
          <label class="label">Sekil elave Et</label>
           <label>
            <input type="file"  name="image" multiple="multiple">
          </label>
        </div>
        <div class="form-group" th:if="${deger1}">
          <label class="label">Tedbir ucun sekil elave Et</label>
          <label>
            <input type="file"  name="tedbirPhoto">
          </label>
        </div>
          <hr class="mb-4">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
    </div>
  </div>
</div>
<script src="//github.com/fyneworks/multifile/blob/master/jQuery.MultiFile.min.js" type="text/javascript" language="javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript" language="javascript"></script>
<script src="assets/js/arda.js">
</script>
</body>
</html>
